In [ ]:
import numpy as np
import nltk
import pandas as pd
import collections
from google.colab import drive
drive.mount("/content/drive/")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
#import data
df=pd.read_csv("drive/My Drive/NLP summer Internship/complaints.csv")
df

        Date received  ... Complaint ID
0          2019-09-24  ...      3384392
1          2019-09-19  ...      3379500
2          2019-10-25  ...      3417821
3          2019-11-08  ...      3433198
4          2019-02-08  ...      3146310
...               ...  ...          ...
1660581    2017-03-06  ...      2373702
1660582    2017-03-27  ...      2405925
1660583    2015-03-26  ...      1303324
1660584    2015-12-12  ...      1694674
1660585    2016-08-09  ...      2053487

[1660586 rows x 18 columns]

In [ ]:
#EDA, inspect missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Missing Percent'])
missing_data['Missing Percent'] = missing_data['Missing Percent'].apply(lambda x: x * 100)
missing_data.loc[missing_data['Missing Percent'] >=0]

                                Total  Missing Percent
Tags                          1436841        86.526142
Consumer complaint narrative  1103064        66.426189
Company public response       1008572        60.735909
Consumer disputed?             892109        53.722541
Consumer consent provided?     642482        38.690077
Sub-issue                      574292        34.583695
Sub-product                    235165        14.161567
ZIP code                       159244         9.589627
State                           28286         1.703375
Company response to consumer        2         0.000120
Issue                               1         0.000060
Product                             0         0.000000
Complaint ID                        0         0.000000
Company                             0         0.000000
Submitted via                       0         0.000000
Date sent to company                0         0.000000
Timely response?                    0         0.000000
Date received                       0         0.000000

In [ ]:
df["Product"].unique()

array(['Debt collection',
       'Credit reporting, credit repair services, or other personal consumer reports',
       'Vehicle loan or lease', 'Checking or savings account',
       'Credit card or prepaid card',
       'Money transfer, virtual currency, or money service', 'Mortgage',
       'Student loan', 'Payday loan, title loan, or personal loan',
       'Credit card', 'Consumer Loan', 'Payday loan', 'Credit reporting',
       'Other financial service', 'Bank account or service',
       'Prepaid card', 'Money transfers', 'Virtual currency'],
      dtype=object)

In [ ]:
#Extract columns
data=df[["Product","Consumer complaint narrative","Complaint ID","Company"]]
data=data.rename(columns={"Consumer complaint narrative":"Complaint"})
data.head()

                                             Product  ...                                 Company
0                                    Debt collection  ...                  TRANSWORLD SYSTEMS INC
1  Credit reporting, credit repair services, or o...  ...     Experian Information Solutions Inc.
2  Credit reporting, credit repair services, or o...  ...  TRANSUNION INTERMEDIATE HOLDINGS, INC.
3                                    Debt collection  ...           Diversified Consultants, Inc.
4                              Vehicle loan or lease  ...                 HYUNDAI CAPITAL AMERICA

[5 rows x 4 columns]

In [ ]:
#Drop null values
data=data.dropna(axis=0)
data

                                                   Product  ...                                 Company
0                                          Debt collection  ...                  TRANSWORLD SYSTEMS INC
2        Credit reporting, credit repair services, or o...  ...  TRANSUNION INTERMEDIATE HOLDINGS, INC.
3                                          Debt collection  ...           Diversified Consultants, Inc.
9        Money transfer, virtual currency, or money ser...  ...                    Paypal Holdings, Inc
10                                                Mortgage  ...                     NATIONSTAR MORTGAGE
...                                                    ...  ...                                     ...
1660581                                   Credit reporting  ...  TRANSUNION INTERMEDIATE HOLDINGS, INC.
1660582                                    Debt collection  ...           Diversified Consultants, Inc.
1660583                                           Mortgage  ...         Finance of America Mortgage LLC
1660584                                           Mortgage  ...                    JPMORGAN CHASE & CO.
1660585                                        Credit card  ...                          CITIBANK, N.A.

[557522 rows x 4 columns]

In [ ]:
#Inspect labels
data.groupby("Product")["Complaint ID"].nunique()

Product
Bank account or service                                                          14885
Checking or savings account                                                      22433
Consumer Loan                                                                     9473
Credit card                                                                      18838
Credit card or prepaid card                                                      38555
Credit reporting                                                                 31588
Credit reporting, credit repair services, or other personal consumer reports    181294
Debt collection                                                                 116679
Money transfer, virtual currency, or money service                                9179
Money transfers                                                                   1497
Mortgage                                                                         66256
Other financial service                                                            292
Payday loan                                                                       1746
Payday loan, title loan, or personal loan                                         7443
Prepaid card                                                                      1450
Student loan                                                                     26411
Vehicle loan or lease                                                             9487
Virtual currency                                                                    16
Name: Complaint ID, dtype: int64

In [ ]:
#Rename product to label
data["Label"]=data["Product"]
data

                                                   Product  ...                                              Label
0                                          Debt collection  ...                                    Debt collection
2        Credit reporting, credit repair services, or o...  ...  Credit reporting, credit repair services, or o...
3                                          Debt collection  ...                                    Debt collection
9        Money transfer, virtual currency, or money ser...  ...  Money transfer, virtual currency, or money ser...
10                                                Mortgage  ...                                           Mortgage
...                                                    ...  ...                                                ...
1660581                                   Credit reporting  ...                                   Credit reporting
1660582                                    Debt collection  ...                                    Debt collection
1660583                                           Mortgage  ...                                           Mortgage
1660584                                           Mortgage  ...                                           Mortgage
1660585                                        Credit card  ...                                        Credit card

[557522 rows x 5 columns]

In [ ]:
#Combine similar labels
data_combined=data.copy()
data_combined["Label"]=data_combined["Label"].replace("Credit card","Credit card or prepaid card")
data_combined["Label"]=data_combined["Label"].replace("Credit reporting","Credit reporting, credit repair services, or other personal consumer reports")
data_combined["Label"]=data_combined["Label"].replace("Money transfers","Money transfer, virtual currency, or money service")
data_combined["Label"]=data_combined["Label"].replace("Payday loan","Payday loan, title loan, or personal loan")
data_combined["Label"]=data_combined["Label"].replace("Prepaid card","Credit card or prepaid card")
data_combined["Label"]=data_combined["Label"].replace("Virtual currency","Money transfer, virtual currency, or money service")
data_combined.groupby("Label")["Complaint ID"].nunique()

Label
Bank account or service                                                          14885
Checking or savings account                                                      22433
Consumer Loan                                                                     9473
Credit card or prepaid card                                                      58843
Credit reporting, credit repair services, or other personal consumer reports    212882
Debt collection                                                                 116679
Money transfer, virtual currency, or money service                               10692
Mortgage                                                                         66256
Other financial service                                                            292
Payday loan, title loan, or personal loan                                         9189
Student loan                                                                     26411
Vehicle loan or lease                                                             9487
Name: Complaint ID, dtype: int64

In [ ]:
#Inspect companies
data_combined[["Company","Product"]].groupby(['Company']).count().sort_values("Product",ascending=False)[:40]

                                         Product
Company
EQUIFAX, INC.                              61377
Experian Information Solutions Inc.        56355
TRANSUNION INTERMEDIATE HOLDINGS, INC.     55067
CITIBANK, N.A.                             18261
WELLS FARGO & COMPANY                      17618
BANK OF AMERICA, NATIONAL ASSOCIATION      17302
JPMORGAN CHASE & CO.                       17185
CAPITAL ONE FINANCIAL CORPORATION          15016
Navient Solutions, LLC.                    14878
SYNCHRONY FINANCIAL                         9992
AMERICAN EXPRESS COMPANY                    6418
Ocwen Financial Corporation                 5811
U.S. BANCORP                                5587
NATIONSTAR MORTGAGE                         5564
AES/PHEAA                                   5508
PORTFOLIO RECOVERY ASSOCIATES INC           5485
ENCORE CAPITAL GROUP INC.                   4615
DISCOVER BANK                               4480
Alliance Data Card Services                 4222
Ditech Financial LLC                        3979
TD BANK US HOLDING COMPANY                  3667
Paypal Holdings, Inc                        3613
BARCLAYS BANK DELAWARE                      3315
PNC Bank N.A.                               3194
ERC                                         3127
Santander Consumer USA Holdings Inc.        3122
UNITED SERVICES AUTOMOBILE ASSOCIATION      2803
SELECT PORTFOLIO SERVICING, INC.            2606
ALLY FINANCIAL INC.                         2584
Resurgent Capital Services L.P.             2361
Diversified Consultants, Inc.               2330
Convergent Resources, Inc.                  2264
Nelnet, Inc.                                2222
TRANSWORLD SYSTEMS INC                      2221
SUNTRUST BANKS, INC.                        2151
Coinbase, Inc.                              2030
NAVY FEDERAL CREDIT UNION                   2010
Specialized Loan Servicing Holdings LLC     1958
HSBC NORTH AMERICA HOLDINGS INC.            1930
Shellpoint Partners, LLC                    1829

In [ ]:
#Data Clean, remove stop words, stemming tokens, lemmatizing tokens
import re
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
porter=PorterStemmer()
wordnet_lemmatizer = WordNetLemmatizer()
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;#_]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')
STOPWORDS = set(stopwords.words('english'))

def clean_text(text):
    text = text.lower() # lowercase text
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = BAD_SYMBOLS_RE.sub('', text) # delete symbols which are in BAD_SYMBOLS_RE from text
    text = re.sub(r'\s+[a-zA-Z]\s+', ' ', text)
    text = re.sub(r'\^[a-zA-Z]\s+', ' ', text) 
    text = re.sub(r'[0-9]', ' ', text)
    text = re.sub(r'\b\d+\b',' ',text)
    text = re.sub(r"\w*[X]{2,20}\w*", ' ', text) 
    text = re.sub(r"\w*[x]{2,20}\w*", ' ', text)
    text = re.sub(r'\s+', ' ', text, flags=re.I)
    return text

def tokenized(sentence):
    token_words=word_tokenize(sentence)
    return token_words
def remove_sw(tokenized_sentence):
    removed=[i for i in tokenized_sentence if i not in STOPWORDS] # delete stopwors from text
    return removed
def stemming(tokenized_sentence):
    stemmed=[porter.stem(i) for i in tokenized_sentence]
    stemmed_sentence=" ".join(stemmed)
    return stemmed_sentence

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
#Produce two columns, one column clean bad symbols, remove stop word before stemming
#The other column only clean bad symbols before stemming no stop word 
import time
start=time.time()
print("Creating stemmed dataset")
data_combined2=data_combined[["Label","Complaint","Complaint ID","Company"]].copy()
data_combined2['Complaint_full'] = data_combined2['Complaint'].apply(clean_text)
data_combined2['Complaint_full'] = data_combined2['Complaint_full'].apply(tokenized)
print("finish clean, now preprocessing")
data_combined2['Complaint_reduced'] = data_combined2['Complaint_full'].copy()
data_combined2['Complaint_reduced'] = data_combined2['Complaint_reduced'].apply(remove_sw)
print("stemming complaint after removing stop_word")
data_combined2['Complaint_reduced'] = data_combined2['Complaint_reduced'].apply(stemming)
print("stemming complaint without removing stop word")
data_combined2['Complaint_full'] = data_combined2['Complaint_full'].apply(stemming)
end=time.time()
print(end-start)
data_combined2

Creating stemmed dataset
finish clean, now preprocessing
stemming complaint after removing stop_word
stemming complaint without removing stop word
3002.557385444641

                                                     Label  ...                                  Complaint_reduced
0                                          Debt collection  ...  transworld system inc tri collect debt mine ow...
2        Credit reporting, credit repair services, or o...  ...  would like request suppress follow item credit...
3                                          Debt collection  ...  past week receiv excess amount telephon call c...
9        Money transfer, virtual currency, or money ser...  ...  sold access event digit screenshot detail tran...
10                                                Mortgage  ...  complaint date back last loan modif done accou...
...                                                    ...  ...                                                ...
1660581  Credit reporting, credit repair services, or o...  ...                                victim inquiri issu
1660582                                    Debt collection  ...  disput debt directli diversifi consult request...
1660583                                           Mortgage  ...  contact branch manag gateway fund learn lower ...
1660584                                           Mortgage  ...  get chase servic mortgag own origin loan doc s...
1660585                        Credit card or prepaid card  ...  made payment citi credit card use citi prepaid...

[557522 rows x 6 columns]

In [ ]:
#Output cleanned data without indexing
data_combined2.to_csv("drive/My Drive/NLP summer Internship/Cleanned_Complaints.csv",index=False)